<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Cookie Demo</title>
</head>
<body>
<h2 ><b> Nhập gì đó rồi ấn Enter để hiện form đăng nhập</b></h2>
<h1>User Login</h1>
<form action="#" th:action="@{/dologin}" th:object="${user}" method="post">
    <table border="0">
        <tr>
            <td><label>Username</label></td>
            <td><input type="text" name="username" id="username"
                       th:value="${cookieValue.value}"/></td>
        </tr>
        <tr>
            <td><label>Password</label></td>
            <td> <input type="password" th:field="*{password}"/></td>
        </tr>
    </table>
    <input type="submit" value="Login"/>
</form>
<br>
<span th:text="${message}"></span>
<span th:text="${user.username}"></span>
</body>
</html>